on:
    push:
        branches:
            - "main"
        tags:
            - "*"

jobs:
    deploy:
        environment:
            name: prod
        runs-on: ubuntu-latest
        steps:
            - name: Clone repository
              uses: actions/checkout@v2
              with:
                  ref: main

            - name: Deploy API
              uses: akhileshns/heroku-deploy@v3.12.13
              with:
                  heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
                  heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
                  heroku_email: ${{ secrets.HEROKU_EMAIL }}
